repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-lint
    - id: validate-toml
#   - id: no-go-testing
#   - id: gometalinter
    - id: golangci-lint
#   - id: go-critic
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
    - id: check-yaml
      exclude: ^deployments/helm/honeydipper/
    - id: check-json
    - id: detect-private-key
