{
    "branches": [
        "main",
        "v3",
        {
            "name": "dev",
            "prerelease": true,
            "channel": "beta"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github"
    ]
}
