---
defaults: &defaults
  docker:
    - image: golang:1.24.1-alpine
  working_directory: /go/src/github.com/honeydipper/honeydipper

version: 2.1

commands:
  setup:
    steps:
      - run: apk add git openssh-client gcc libc-dev make xz
      - checkout
      - restore-mod
  restore-mod:
    steps:
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
            - go-mod-v1-
  save-mod:
    steps:
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod

jobs:
  install:
    <<: *defaults
    resource_class: medium+
    steps:
      - setup
      - run: go install -v ./...
      - save-mod
      - persist_to_workspace:
          root: /go
          paths:
            - ./bin
            - ./src/github.com/honeydipper/honeydipper
  golangci-lint:
    <<: *defaults
    resource_class: medium+
    docker:
      - image: golangci/golangci-lint:v1.64.8-alpine
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-buildcache-
          paths:
            - /root/.cache
      # We want to keep the cache, but save it every time
      - run: echo "$CIRCLE_BUILD_NUM-$CIRCLE_JOB" > /tmp/build_num
      - run: golangci-lint run
      - save_cache:
          key: v1-buildcache-{{ checksum "/tmp/build_num" }}
          paths:
            - /root/.cache
  license_finder:
    resource_class: small
    <<: *defaults
    steps:
      - checkout
      - run: go mod download
      - run: |
          apk add -u ruby ruby-dev build-base && gem install json license_finder && license_finder --decisions_file=./.dependency_decisions.yml
  test:
    <<: *defaults
    resource_class: medium+
    steps:
      - attach_workspace:
          at: /go
      - setup
      - run: go install gotest.tools/gotestsum@latest
      - run: gotestsum -f testname --junitfile test-results/gotestsum-report.xml
      - store_test_results:
          path: test-results
  test_coverage:
    <<: *defaults
    resource_class: medium+
    steps:
      - attach_workspace:
          at: /go
      - setup
      - run: REPORT_TEST_COVERAGE=1 make unit-tests
      - run:
          name: install-qlty
          command: |
            if command -v curl &>/dev/null; then
              curl https://qlty.sh/install.sh | sh
            elif command -v wget &>/dev/null; then
              wget -O - https://qlty.sh/install.sh | sh
            else
              error 'curl or wget is required to install qlty'
            fi

            $HOME/.qlty/bin/qlty --version
      - run:
          name: qlty-coverage-publish
          command: |
            $HOME/.qlty/bin/qlty --add-prefix github.com/honeydipper/honeydipper --format coverprofile --files c.out
  integration:
    <<: *defaults
    docker:
      - image: golang:1.24.1-alpine
      - image: redis:7.0.11-alpine
    steps:
      - attach_workspace:
          at: /go
      - run:
          name: install dependencies
          command: >
            apk add git openssh-client gcc libc-dev make &&
            wget "$DOCKERIZE_URL" &&
            tar zxvf "$(basename "$DOCKERIZE_URL")" &&
            install dockerize /usr/local/bin
          environment:
            DOCKERIZE_URL: https://github.com/jwilder/dockerize/releases/download/v0.7.0/dockerize-alpine-linux-amd64-v0.7.0.tar.gz
      - checkout
      - restore-mod
      - run:
          name: Wait for Redis
          command: dockerize -wait tcp://127.0.0.1:6379 -timeout 120s
      - run: make integration-tests
  semantic-release:
    docker:
      - image: cimg/node:22.12.0
    steps:
      - checkout
      - run: |
          sudo npm install -g semantic-release      \
          @semantic-release/changelog               \
          @semantic-release/commit-analyzer         \
          @semantic-release/git                     \
          @semantic-release/release-notes-generator
      - run:
          command: npx semantic-release
          environment:
            DEBUG: semantic-release:get-commits

workflows:
  version: 2
  run_tests:
    jobs:
      - license_finder
      - golangci-lint
      - install
      - test_coverage:
          context: honeydipper
          filters:
            branches:
              only: dev
          requires:
            - install
      - test:
          filters:
            branches:
              ignore: dev
          requires:
            - install
      - integration:
          requires:
            - install
          filters:
            branches:
              ignore: dev
  release:
    jobs:
      - semantic-release:
          context: honeydipper
          filters:
            branches:
              only: main
