---
defaults: &defaults
  docker:
    - image: golang:1.13.4-alpine3.10
  working_directory: /go/src/github.com/honeydipper/honeydipper

restore_deps: &restore_deps
  restore_cache:
    key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
    paths:
      - /go/src/github.com/honeydipper/honeydipper/vendor

version: 2
jobs:
  lint:
    <<: *defaults
    steps:
      - run: apk add git openssh-client
      - checkout
      - run: go get -u golang.org/x/lint/golint
      - run: go fmt
      - run: golint
  test:
    <<: *defaults
    steps:
      - run: apk add git openssh-client gcc libc-dev
      - run:
          name: adding-golangci-lint
          command: wget -O - -q https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.21.0
      - checkout
      - *restore_deps
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - save_cache:
          key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/honeydipper/honeydipper/vendor
      - run: golangci-lint run
      - run: go test -v ./...
  integration:
    <<: *defaults
    docker:
      - image: golang:1.13.4-alpine3.10
      - image: redis:5.0.6-alpine
    steps:
      - run:
          name: install dependencies
          command: >
            apk add --repository http://dl-3.alpinelinux.org/alpine/edge/testing
            git openssh-client gcc libc-dev dockerize
      - checkout
      - *restore_deps
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go install ./...
      - run:
          name: Wait for Redis
          command: dockerize -wait tcp://127.0.0.1:6379 -timeout 120s
      - run: go test -tags=integration -v ./...

workflows:
  version: 2
  run_tests:
    jobs:
      - lint
      - test:
          requires:
            - lint
      - integration:
          requires:
            - test
